/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * This CSS file is from phpMyAdmin project. (www.phpmyadmin.net)
 *
 * See http://www.phpmyadmin.net/home_page/license.php
 * for more details
 *
 *
 * PLEASE NOTE THAT THIS IS NOT THE ORGINAL FILE!
 * I HAVE CHANGED SOME PARTS FOR "WORD ASSISTANT" PROGRAM.
 * ::samic::
 *
 *
 **/

html {
	font-size:82%;
}
input,select,textarea {
	font-size:1em;
}
body {
	font-family:sans-serif;
	padding:0;
	margin:0.5em;
	color:#444;
}
form {
	padding:0;
	margin:0;
	display:inline;
}
input[type=text] {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0 1px 2px #ddd;
	-moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
	border:1px solid #aaa;
	color:#555555;
	padding:4px;
	margin:6px;
}
input[type=password] {
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	box-shadow:0 1px 2px #ddd;
	-moz-box-shadow:0 1px 2px #ddd;
	-webkit-box-shadow:0 1px 2px #ddd;
	border:1px solid #aaa;
	color:#555555;
	padding:4px;
	margin:6px;
}
input[type=submit] {
	font-weight:bold;
	margin-left:14px;
	border:1px solid #aaa;
	padding:3px 7px;
	color:#111;
	text-decoration:none;
	background:#ddd;
	border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
	text-shadow:0px 1px 0px #fff;
	background-size:100% 100%;
	background:-webkit-gradient(linear,left top,left bottom,from(#ffffff),to(#cccccc));
	background:-moz-linear-gradient(top,#ffffff,#cccccc);
	background:-o-linear-gradient(top,#ffffff,#cccccc);
}
input[type=submit]:hover {
	position:relative;
	background-size:100% 100%;
	background:-webkit-gradient(linear,left top,left bottom,from(#cccccc),to(#dddddd));
	background:-moz-linear-gradient(top,#cccccc,#dddddd);
	background:-o-linear-gradient(top,#cccccc,#dddddd);
	cursor:pointer;
}
input[type=submit]:active {
	position:relative;
	top:1px;
	left:1px;
}
fieldset {
	margin-top:1em;
	border-radius:4px 4px 0 0;
	-moz-border-radius:4px 4px 0 0;
	-webkit-border-radius:4px 4px 0 0;
	padding:5px;
	border:#aaa solid 1px;
	padding:1.5em;
	background:#eee;
	text-shadow:0 1px 0 #fff;
	-moz-box-shadow:1px 1px 2px #fff inset;
	-webkit-box-shadow:1px 1px 2px #fff inset;
	box-shadow:1px 1px 2px #fff inset;
}
fieldset fieldset {
	margin:0.8em;
	background:#fff;
	border:1px solid #aaa;
	background:none repeat scroll 0 0 #E8E8E8;
}
fieldset legend {
	font-weight:bold;
	color:#444;
	padding:5px 10px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #aaa;
	background-color:#fff;
	-moz-box-shadow:3px 3px 15px #bbb;
	-webkit-box-shadow:3px 3px 15px #bbb;
	box-shadow:3px 3px 15px #bbb;
}
div.tools,fieldset.tblFooters {
	margin-top:0;
	margin-bottom:0.5em;
	border-top:0;
	text-align:right;
	float:none;
	clear:both;
	-webkit-border-radius:0 0 4px 4px;
	-moz-border-radius:0 0 4px 4px;
	border-radius:0 0 4px 5px;
}
div.tools,.tblFooters {
	font-weight:normal;
	color:#000000;
	background:#D3DCE3;
}
body.loginform h1,body.loginform a.logo {
	display:block;
	text-align:center;
}
body.loginform {
	text-align:center;
}
body.loginform div.container {
	text-align:left;
	width:35em;
	margin:0 auto;
}
form.login label {
	float:left;
	width:10em;
	font-weight: bolder;
}
a.tooltip {
	outline:none;
}
a.tooltip strong {
	line-height:30px;
}
a.tooltip:hover {
	text-decoration:none;
}
a.tooltip span {
	z-index:10;
	display:none;
	padding:14px 20px;
	margin-top:-30px;
	margin-left:28px;
	width:250px;
	line-height:16px;
}
a.tooltip:hover span {
	display:inline;
	position:absolute;
	color:#111;
	border:1px solid #DCA;
	background:#fffAF0;
}
.callout {
	z-index:20;
	position:absolute;
	top:30px;
	border:0;
	left:-12px;
}
a.tooltip span {
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	-moz-box-shadow:5px 5px 8px #CCC;
	-webkit-box-shadow:5px 5px 8px #CCC;
	box-shadow: 5px 5px 8px #CCC;
}
